{% assign author = site.authors[page.author] %}

{% if author %}
<div class="author-box">
    <img src="{{ author.avatar | relative_url }}" alt="{{ author.display_name }}">
    <div class="author-meta">
        <a href="{{ '/author/' | append: page.author | relative_url }}"><strong>{{ author.display_name }}</strong></a>
        <p>{{ author.description }}</p>

        <div class="author-links">
            {% if author.web %}
            <a href="{{ author.web }}" target="_blank">Website</a>
            {% endif %}

            {% if author.twitter %}
            <a href="{{ author.twitter }}" target="_blank">Twitter</a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="author-box author-box-anonymous">
    <img src="{{ '/assets/avatar/anonimus.png' | relative_url }}" alt="Anonymous User">

    <div class="author-meta">
        <span class="anonymous-title"><strong>Usuario Anónimo</strong></span>

        <p>Este artículo ha sido publicado por un autor invitado o de forma anónima.</p>

    </div>
</div>
{% endif %}